<header class="flex justify-center">
  <a href={~p(/)} class="link mx-2">Home</a>
  <.link navigate={~p(/robot)} class="link mx-2">Robot</.link>
  <.link navigate={~p(/droid)} class="link mx-2">Droid</.link>
  <.link navigate={~p(/cyborg)} class="link mx-2">Cyborg</.link>
</header>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl sm:border-4 sm:border-base-content sm:p-4">
    {@inner_content}
  </div>
</main>
