<div class="my-2 flex justify-center">
  <div
    class="
      bg-red-800
      text-white
      px-8
      py-4
      rounded-full
      transition
      duration-1000"
    id="message"
    phx-hook="FadeOut"
    data-delay="3000"
  >
    This message will start fading after 3 seconds.
  </div>
</div>
