<div class="my-2 flex justify-center">
  <img
    src={~p(/images/letter_a.png)}
    class="transition-transform duration-1000 cursor-pointer"
    phx-click={JS.toggle_class("invert rotate-90")}
  />
</div>
