<h2 class="card-title">Step 2/4</h2>
<p>Keep hope in your heart.</p>
<div class="card-actions justify-between">
  <.cancel_button step={@step}></.cancel_button>
  <div>
    <.back_button step={@step}></.back_button>
    <.next_button step={@step}></.next_button>
  </div>
</div>
