<div class="card bg-base-300 w-96 shadow-xl mx-auto my-4">
  <div class="card-body">
    <h2 class="card-title">Step 2/4</h2>
    <p>Keep hope in your heart.</p>
    <div class="card-actions justify-between">
      <.cancel_button />
      <div>
        <.back_button step={2} />
        <.next_button step={2} />
      </div>
    </div>
  </div>
</div>
