<h2 class="card-title">Step 1/4</h2>
<p>Let me be your guide.</p>
<div class="card-actions justify-between">
  <.cancel_button step={@step}></.cancel_button>
  <.next_button step={@step}></.next_button>
</div>
