<Shared.simple_card>
  <h2 class="card-title">Step 1/4</h2>
  <p>Let me be your guide.</p>
  <div class="card-actions justify-between">
    <.cancel_button />
    <.next_button step={1} />
  </div>
</Shared.simple_card>
