<h2 class="card-title">Step 4/4</h2>
<p>Congratulations, you made it!</p>
<div class="card-actions justify-end">
  <button
    type="button"
    class="btn btn-primary"
    phx-click="set_wizard_step"
    phx-value-step="0"
  >
    Finish
  </button>
</div>
