<div role="tablist" class="tabs tabs-lifted">
  <Shared.tab_and_panel label="Data" active={true}>
    Data
  </Shared.tab_and_panel>
  <Shared.tab_and_panel label="Table">
    Table
  </Shared.tab_and_panel>
</div>
