<div role="tablist" class="tabs tabs-lifted">
  <Shared.tab_and_panel label="Image" active={true}>
    <.image_tab_content />
  </Shared.tab_and_panel>
  <Shared.tab_and_panel label="Audio">
    <.audio_tab_content />
  </Shared.tab_and_panel>
  <Shared.tab_and_panel label="Video">
    <.video_tab_content />
  </Shared.tab_and_panel>
  <Shared.tab_and_panel label="Fade out">
    <.fade_out_tab_content />
  </Shared.tab_and_panel>
</div>
