<div>
  <span
    class="font-bold cursor-pointer"
    phx-click="increment_counter"
    phx-value-delta="10"
  >
    counter:
  </span>
  {@counter}
</div>
<div><span class="font-bold">name:</span> {@name}</div>
