<div><span class="font-bold">counter:</span> {@counter}</div>
<div>
  <span class="font-bold cursor-pointer" phx-click="increment_counter">
    counter:
  </span>
  {@counter}
</div>
<div><span class="font-bold">name:</span> {@name}</div>
